:root{
  --mainBlue:#2a2a72;
  --lighBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow: #ffa400;
  --mainGreen: aquamarine;
  --darkGreen: #006400;   
}

body{
  font-family: 'Open Sans', sans-serif !important;
  background: var(--mainGreen) !important;
  color: var(--mainDark) !important;

}

.text-title{
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;

}

.text-blue{
  color: var(--mainBlue);
}

.text-bright{
  color: var(--lighBlue);
}

